body{
	font-family: Arial, Helvetica, sans-serif;
}

a{
	color: #333;
}
h4 {
	font-family: Arial, Helvetica, sans-serif; 
}

form {
	margin-top: 20px;
}

.comment-text{
  font-size: 18px;
}

.cover {
	padding: 12px;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.fa{
     padding: 20px;
     font-size: 30px;
     width: 50px;
     text-decoration: none;
     margin: 5px 2px;
}



h4 {
	margin-bottom: 0px;
}

.comment-num{
	font-size: 16px;
	color: #ccc;
}

#comments{
	margin-top: 50px;
}

#Message {
	height: 100px;
}


.footer {
	margin-top: 20px;
	background-color: #f2f2f2;
	padding: 15px;
}

.footer li {
	list-style: none;
	display: inline;
	margin: 10px;
}

.footer  a:hover{
	color: blue;
}

